 <nav class="navbar">
    <div class="logo">
    <img src="{{ url_for('static', filename='logo.png') }}" 
         alt="MindCheck Logo" 
         style="width:38px; height:38px; border-radius:8px; object-fit:cover;">
    MindCheck
</div>
    <ul class="nav-links">
        <li><a href="/" class="{{ 'active' if active=='home' else '' }}"><i class="fa-solid fa-house"></i> Home</a></li>
        <li><a href="/survey" class="{{ 'active' if active=='survey' else '' }}"><i class="fa-solid fa-clipboard-list"></i> Survey</a></li>
        <li><a href="/dashboard" class="{{ 'active' if active=='dashboard' else '' }}"><i class="fa-solid fa-chart-simple"></i> Dashboard</a></li>
        <li><a href="/history" class="{{ 'active' if active=='history' else '' }}"><i class="fa-solid fa-clock-rotate-left"></i> History</a></li>
        <li><a href="/analytics" class="{{ 'active' if active=='analytics' else '' }}"><i class="fa-solid fa-chart-pie"></i> Analytics</a></li>
        <li><a href="/contact" class="{{ 'active' if active=='contact' else '' }}"><i class="fa-solid fa-id-card"></i> Contact</a></li>
        <li><a href="/feedback" class="{{ 'active' if active=='feedback' else '' }}"><i class="fa-solid fa-comment-dots"></i> Feedback</a></li>
        <li><a href="/model-info" class="{{ 'active' if active=='model-info' else '' }}"><i class="fa-solid fa-robot"></i> Model Info</a></li>
        <li><a href="/about" class="{{ 'active' if active=='about' else '' }}"><i class="fa-solid fa-circle-info"></i> About</a></li>
        {% if session.get('user_id') %}
            <li><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout ({{ session.get('username') }})</a></li>
        {% else %}
            <li><a href="/login" class="{{ 'active' if active=='login' else '' }}"><i class="fa-solid fa-right-to-bracket"></i> Login</a></li>
            <li><a href="/register" class="{{ 'active' if active=='register' else '' }}"><i class="fa-solid fa-user-plus"></i> Register</a></li>
        {% endif %}
    </ul>
</nav>